@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100&display=swap');
*{    font-family: 'Indie Flower', cursive;

  font-family: 'Roboto', sans-serif;}
body {
  color : white;
  font-family: 'Indie Flower', cursive;
   --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;
}

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --accent-color: #D0D066;
  --background-color: #333;
  --text-color: white;
}

.title {
  margin: 0;
  margin-bottom: .5rem;
}

.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: .5em 1em;
  border-radius: .3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.theme-toggle-button .icon {
  margin-right: .5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}




#container {
    margin-top: 80px;
    margin: auto;
    margin-right: 25px;
    margin-left: 25px;
    box-shadow: 7px 7px #000000;
    background: #000000;
    border-radius: 25px;
    padding: 25px;
   color: white;
}

#header {
    text-align: center;
    margin-top: 47px;
    margin: auto;
    font-color: #00000;

    font-size: 39px
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.37); 
    font-color: #00000;
      border-radius: 25px;

    color: white;
    text-align: center;
}

.center-align {
    text-align: center;
}

p {
    font-size: 27px;
  font-color: #00000;
}

a, a:visited {
    color: rgb(129, 129, 129)
}

#link, #username, #content, #avatar {
    font-size: 25px;
    background-color: #4e4e4e;
    width: 75%;
    padding: 20px;
    border: 2px solid #000000c9;
    font-color: #00000;
     border-radius: 30px;
}

#btn {
    width: 35%;
    font-size: 25px;
    margin-top: 25px;
    padding: 17px;
    background-color: #1d6e6e;
    border: 2px solid #000000c9;
    font-color: #00000;
      border-radius: 30px;

}

#btn:hover { 
    background-color: #365a3f;
}

#log {
    text-align: center;
    width: 5%;
    background-color: rgb(110, 255, 43);
    color: green;
}
